<!DOCTYPE html>
<html lang="en">

<%- include("./partials/header")%>

    <body>
        <%- include("./partials/nav") %>
            <h1>About page</h1>
            <div class="about content">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere dolore amet, eligendi culpa vitae
                    possimus.
                    Perspiciatis deserunt dolor voluptates nostrum minus, eius ipsum, similique dolorum iste, libero
                    facilis
                    ut!
                    Corporis.</p>
            </div>
            <%- include("./partials/footer")%>
    </body>

</html>